@model AgenciaMedica.Models.Usuario
@{
    ViewBag.Title = "Registro";
}

<h2>Registro</h2>

<div class="glyphicon-log-in">
    <br />
    <br />
    @using (Html.BeginForm("Registrar", "Account", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    @Html.Label("Usuario: ", new { @class = "col-md-2 control-label" })
                </td>
                <td>
                    @Html.TextBoxFor(usu => usu.User, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Email: ", new { @class = "col-md-2 control-label" })
                </td>
                <td>
                    @Html.TextBoxFor(usu => usu.Email, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Password: ", new { @class = "col-md-2 control-label" })
                </td>
                <td>
                    @Html.TextBoxFor(usu => usu.Password, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Confirm Password: ", new { @class = "col-md-1 control-label" })
                </td>
                <td>
                    @Html.TextBoxFor(usu => usu.Password, new { @class = "form-control", type="password" })
                </td>
            </tr>
            <tr class="btn-lg btn-success">
                <td>
                    <input type="submit" name="btnSubmit" value="Registrar" />
                </td>
            </tr>
        </table>
    }
</div>