@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Imagenes/jpg")
    @Styles.Render("~/Scripts/js")
    @Scripts.Render("~/bundles/modernizr")
</head>

<div class="jumbotron">
    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="../Imagenes/sustentabilidad-2.jpg" style="width:100%">
        <div class="text">Caption Text</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="../Imagenes/sustentabilidad-2.jpg" style="width:100%">
        <div class="text">Caption Two</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="../Imagenes/sustentabilidad-2.jpg" style="width:100%">
        <div class="text">Caption Three</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <h1>Turnos Medicos</h1>
    <p class="lead"> Con esta pagina se puede </p>
</div>

<div class="row">
    <div class="col-md-4">

        <h2>Getting started</h2>

    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>

    </div>
</div>
